.DS_Store
Thumbs.db
node_modules
# /dist
dist/report.html

/tests/e2e/videos/
/tests/e2e/screenshots/

env*bat
*.ttf
env*.yaml

# local env files
# .env.local
# .env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
ssl/
/start.sh
